.block-img-slider-container {
    max-height: 800px;
    #imgSliderCarousel {
        overflow: hidden;

        img {
            object-fit: cover !important;
            object-position: center !important;
        }
    }

    .content-container {
        z-index: 1;
        &.blue-overlay {
            background: linear-gradient(rgba($darkblue, .98) 0%, rgba($darkblue, .75) 90%);
        }

        &.dark-overlay {
            background: linear-gradient(rgb(0 0 0 / 68%) 0, rgb(0 0 0 / 19%) 90%);
        }
    }
}